				                
body{margin-top:20px;}
.avatar{
width:200px;
height:200px;
}				              

div.col-md-9.personal-info {
  padding-bottom: 20px;
  text-align: center;
}

div.text-center{
  padding-top: 20px;
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid gray;
  padding-right: 20px;
  padding-left: 20px;
  
  z-index: -1;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.tsd{
  font-size: 19px;
  
}


li a:hover:not(.active) {
  color: black;
}

.radio-inline{
  width: 33%;
}

.dropdown {

  position: absolute;
  z-index: 1;
  float: right;
 
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.dropdown
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
float: right;
}
.submenu
{
background: #fff;
top: -12px;
left: -20px;
z-index: 100;
width: 125px;
display: none;
margin-left: 10px;
padding-top: 45px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
height: auto;
}
.dropdown.li1.a1
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
width: 100%;
cursor: pointer;
text-decoration:none;
position: relative;
z-index: 100;

}

.dropdown.li1.a1:hover
{

text-decoration: none;
}

a.account 
{
font-size: 20px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
padding-top: 5px;
height: 50px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
color: #333;
text-align: center;
text-decoration: none;
text-align: center;

}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border:1px solid #dedede;
z-index: 1;
position: fixed;
height: auto;
width: 120px;
background-color: whitesmoke;

}

.avatar1{
width: 40px;
height: 40px;
padding-top: 8px;
padding-right: 0px;
text-align: center;
}

.username{
font-size: 14px;
float: left;
text-align: center;
padding-top: 10px;
padding-left: 10px;

}

.avatar1{
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-right: 0px;
  text-align: center;
  }
  .button{
    margin-top: 15px;
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }